In [1]:
import pandas as pd

In [33]:
df = pd.read_csv('data/survey_results_public1.csv')

In [3]:
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [4]:
list={"first":["Corey","Jane","John"],"last":["Schafer","Doe","Doe"],"email":["CoreyMSchafer@gmail.com","JaneDoe@gmail.com","JohnDoe@gmail.com"]}

In [5]:
d=pd.DataFrame(list)

In [34]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

### Capitalize the text

In [6]:
d.columns=[x.upper() for x in d.columns]
d

   FIRST     LAST                    EMAIL
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [9]:
d.columns=["first_name","last_name","email"]

In [10]:
d.columns=d.columns.str.replace('_',' ')
d.columns

Index(['first name', 'last name', 'email'], dtype='object')

In [11]:
d.columns=d.columns.str.replace(' ','_')
d.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [12]:
d.columns=[x.lower() for x in d.columns]
d

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

### RENAME THE COLUMN

In [14]:
d.rename(columns={"first_name":'first','last_name':'last'},inplace=True)
d

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

### CHANGE THE ROW

In [15]:
d.loc[2]=['John','Smith','JohnSmith@gmail.com']
d

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      JohnSmith@gmail.com

In [16]:
d.loc[2,['last','email']]=['Doe',"JohnDoe"]
d

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe                  JohnDoe

In [17]:
d.email=d.email.str.lower()
d

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John      Doe                  johndoe

In [18]:
d.email.apply(len)

0    23
1    17
2     7
Name: email, dtype: int64

### functions

In [19]:
def update_email(email):
    return email.upper()

In [20]:
d.email.apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@GMAIL.COM
2                    JOHNDOE
Name: email, dtype: object

In [21]:
d.email=d.email.apply(lambda x:x.lower())
d

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John      Doe                  johndoe

### MAPPING

#### APPLY

In [22]:
d.apply(lambda x:x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

#### APPLY MAP

In [23]:
d.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     3      7

In [24]:
d

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John      Doe                  johndoe

In [27]:
d['first'].map({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [28]:
d['first'].replace({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2     John
Name: first, dtype: object

In [35]:
df.Hobbyist=df.Hobbyist.map({'Yes':True,"No":False})

In [37]:
d['full_name']=d['first'] +' '+d['last']
d

   first     last                    email      full_name
0  Corey  Schafer  coreymschafer@gmail.com  Corey Schafer
1   Jane      Doe        janedoe@gmail.com       Jane Doe
2   John      Doe                  johndoe       John Doe

### dropping columns

In [38]:
d.drop(columns=['first','last'])

                     email      full_name
0  coreymschafer@gmail.com  Corey Schafer
1        janedoe@gmail.com       Jane Doe
2                  johndoe       John Doe

In [39]:
d['full_name'].str.split(' ')

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
Name: full_name, dtype: object