In [1]:
import pandas as pd

In [2]:
list={"first":["Corey","Jane","John"],"last":["Schafer","Doe","Doe"],"email":["CoreyMSchafer@gmail.com","JaneDoe@gmail.com","JohnDoe@gmail.com"]}

In [3]:
d=pd.DataFrame(list)

In [4]:
df = pd.read_csv('data/survey_results_public1.csv')

#### sort by a column

In [5]:
d.sort_values(by='last',ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

### SORT BY MULTIPLE COLUMNS

In [6]:
d.sort_values(by=['last','first'],ascending=[True,False],inplace=True)
d

   first     last                    email
2   John      Doe        JohnDoe@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [9]:
df=pd.read_csv("data/survey_results_public.csv")

In [10]:
df.sort_values(by=['Country','ConvertedCompYearly'],ascending=[True,False],inplace=True)

#### GET TOP 10 LARGEST VALUES

In [11]:
df.ConvertedCompYearly.nlargest(10)

66910    45241312.0
65399    30468516.0
40586    21822250.0
28791    20000000.0
12700    19200000.0
9608     17500000.0
5305     15000000.0
12903    14411628.0
66488    12750000.0
7205     12500000.0
Name: ConvertedCompYearly, dtype: float64